body{
    background-color: wheat;
}
.Button{
    background-color: black;
    padding: 5px 15px;
    color: rgb(85, 182, 252);
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    font-family: cursive;
    margin: 5px;   
   
}
.Button:hover{
    background-color: rgb(141, 211, 71);
    transition: 1s;
}

.Button1{
    background-color: rgb(244, 75, 75);
    padding: 5px 15px;
    color: white;
    border: darkblue;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 10px ; 
}